---
layout: default
---

  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center orange-text">{{ site.title }}</h1>
      <div class="row center">
        <h5 class="header col s12 light">{{ content }}</h5>
      </div>
        
    </div>
  </div>

  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Duża społeczność</h5>

            <p class="light">Na tle innych państw Scala zdobyła wyjątkową popularność w Polsce. Najwięcej w europie konferencji Scalowych odbywa się właśnie w Polsce.</p>
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">Dołącz do nas</h5>

            <p class="light">Większość naszej aktywności dzieje się poprzez komunikator "Slack". Wystarczy email by dołączyć: <a href="http://slackin.scala-poland.eu">Scala-Poland</a></p>. Grupy lokalne mają swoje podkanały.
          </div>
        </div>
        
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Praca w Scali</h5>

            <p class="light">Próbujemy bezpośrenio kontaktować firmy i programistów ze sobą. Po zapoznaniu się z regulaminem, na kanele #hiring, można wrzucić ofertę pracy. Ponadto mamy listy firm pracujących z tym pięknym językiem.</p>
          </div>
        </div>
      </div>
        
    </div>
      
    </div>
    <div style="background: #ddd">
    <div class="container last-post">
    <section>
        <h5>Ostatnie posty</h5>
        <ul class="collection">
        {% for post in site.posts %}
        <li class="collection-item avatar">
          {% assign date_format = site.minima.date_format | default: "%m/%d" %}
          <div class="date-post">{{ post.date | date: date_format }}</div>
          <span class="title"><a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a></span>
          <p>
             {{ post.content | truncatewords: 10 }}
          </p>
          <a href="{{ post.url | relative_url }}" class="secondary-content"><i class="material-icons">navigate_next</i></a>
        </li>
        {% endfor %}
        </ul>  
    </section>
    </div>
</div>

  </div>
